.info-films {
    margin: 15px;
    h3 {
        text-align: center;
    }
   
    p {
        margin-bottom: 0px;
        font-size: 13px;
        text-align: center;
    }
              border-left: 0px;
              border-right:0px;
              box-shadow: 3px 4px 14px #3edbef;
              padding: 12px;
              background-color: #243446;
              opacity: 0.8;
              color:#3edbef;
              }
