<div class="starWarDetail col-md-12">
  <div class="container">
    <div class="col-sm-12">
      <img class="img-responsive logo" src="https://static-mh.content.disney.io/starwars/assets/navigation/sw_logo_stacked@2x-52b4f6d33087.png">
    </div>
  </div>

  <div class="panel panel-default ">
    <div class="panel-body">
      <div class="row">
        <div class=" col-md-4 masterView">
          <table>
            <tbody>
              <tr class="heading">
                <th></th>
                <th>CHARACTERS</th>
              </tr>
              <tr id="actor_list" *ngFor="let actor of actors; let i = index" [class.selected]="actor === selectedActor" (click)="onSelect(actor)">
                <td class="serialNum">
                  <span>{{((pageNumber - 1)* 10)+i+1}}</span>
                </td>
                <td>
                  <a class="nav-link active profile" routerLink="{{getRouterLink(actor)}}"> 
                     {{actor.name}}</a>
                    </td>
              </tr>
            </tbody>
          </table>
          <footer>
            <button [disabled]="!this.prev" (click)="setPage('prev')">
              <span>
                << </span>
            </button>
            <span>{{((pageNumber - 1)* 10)+1}} - {{((pageNumber - 1)* 10)+end}} of {{total}} </span>
            <button [disabled]="!this.next" (click)="setPage('next')">
              <span> >> </span>
            </button>
          </footer>
        </div>
        <div class=" col-md-8 detailView">
          <div *ngIf ="selectedActor">
              <div class="container1">
                  <h2>{{selectedActor?selectedActor.name:''}}</h2>
                </div>
            <router-outlet> </router-outlet>
          </div>
          <div class="initialLoad" *ngIf="!selectedActor">
            <i class=" fa fa-hand-o-left "></i>
            <h3> Please select the row to view the details of Characters </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>