    #actor-details {
        .container {
            padding: 20px 20px 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          h2 {
            font-family: 'Audiowide', fantasy;
          text-transform: uppercase;
          text-align: center;
          text-shadow: 0 4px 5px rgba(60,72,96,.5);
          color: #f0edf2;
          -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #fff;
            text-shadow: 
           white 0px 0px 175px, #e8e214 0px 0px 10px, white 0px 0px 1px, #f3eb03 0px 0px 100px, #fdea00 0px 0px 250px;
          }
        } 
        ul {
          li {
            padding: 5px 30px;
            a {
                font-size: 20px;
                opacity: 0.8;
            background-color: #243446;
            box-shadow: 3px 4px 14px #a9a315;
                i {
                  padding: 0px 10px 0px 0px;
                }
            }
            .profile {
              color: #3edbef;
              box-shadow: 3px 4px 14px #3edbef;
            }
            .films {
              color: #f95a5a;
              box-shadow: 3px 4px 14px #f95a5a;
            }
          
        }
        }
  
          @-webkit-keyframes zoomIn {
            from {
              opacity: 0;
              -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
            }
          
            50% {
              opacity: 1;
            }
          }
          
          @keyframes zoomIn {
            from {
              opacity: 0;
              -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
            }
          
            50% {
              opacity: 1;
            }
          }
          

    }
