<div id="actor-details" *ngIf="actor">

  <div class="container">
    <h2>{{actor.name}}</h2>
  </div>

  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active profile" routerLink="/profile/{{actor.id}}">
          <i class=" fa fa-user"> </i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active films" routerLink="films/{{actor.id}}">
          <i class="fa fa-film"> </i>
          <span>Films</span>
        </a>
      </li>
    </ul>
  </div>
</div>